player-connection-mode=Listen
player-connection-guid=3290813757
player-connection-debug=0
player-connection-project-name=VR_Diorama
player-connection-ip=172.19.161.201
player-connection-ip=172.24.16.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
build-guid=c25ade648925439d94c466307bdda446
